// out: styleDark.css, compress: true

@text-primary: #D9D9D9;
@text-secondary: #1A1A1A;

@bg-primary: #1E2124;
@bg-secondary: #2E3136;

@border: #1E2124;

@highlight: #03A9F4;
@disabled: #F44336;

@import "base.less";
